<section id="about_me" >
    <div class="container text-center">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          <div class="ed-picperfil">
            <img src="assets/img/perfil.png" class="picperfil rounded-circle" alt="foto perfil" title="pmacv perfil">
            <a class="editor pen fotoperfil" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          </div>
          <div class="ed-nombrecargo">
            <h4 class="info">
              Mario Alejandro <b>CHOAIB</b> Velasco 
              <br>Full Stack Developer Jr
            </h4>
            <a class="editor pen nombrecargo" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          </div>
        </div>
        <div class="col-6">
          <div class="ed-about">
            <h4 class="acerca">
              ACERCA DE... </h4>
              <p>
              Mario Choaib Velasco es un apasionado de la informática desde los 12 años.<br> 
              Siempre tratando de encontrar nuevas formas de resolver problemas mediante <br>
              la programación y el uso posterior de los mismos en la aplicación. <br>
              Buscando nuevos retos, ha logrado mostrar su trabajo (en español o en inglés) <br>
              como una forma de educación.</p>
            <a class="editor pen acerca" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
            <a class="editor xmark acerca" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>
          </div> 
        </div>
        <div class="col-1"></div>
      </div>          
    </div>
  </section> 