<section id="studies">
    <div class="estudios">
      <h3 class="Titulo_estudios">
         Estudios Realizados 
      </h3>
      <div class="row 1">
        <div class="edit_est_1">
          <a class="editor pen est1" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark est1" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_estudio1">
            <img src="assets/img/uns.png" class="picperfil rounded-circle" alt="icono_estudio1" title="Universidad Nacional del Sur">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_estudio txtest1">
          <h5><b>Estudios universitarios (no completados)</b></h5>
            Primeros dos años de la "Licenciatura en Computación". En la actualidad, 
            estudiando "Profesorado en Matemáticas"
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row 2">
        <div class="edit_est_2">
          <a class="editor pen est2" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark est2" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_estudio2">
            <img src="assets/img/EEM13 Nacional.png" class="picperfil rounded-circle" alt="icono_estudio2" title="EMM13 Nacional">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_estudio txtest2">
          <h5><b>Estudios secundarios(completos)</b></h5>
            Título: Perito Bachiller. 5 años
          </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row 3">
        <div class="edit_est_3">
          <a class="editor pen est3" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark est3" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_estudio3">
            <img src="assets/img/logo67.jpg" class="picperfil rounded-circle" alt="icono_estudio3" title="EP67 Tomás Espora">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_estudio txtest3">
          <h5><b>Estudios primarios (completos)</b></h5>
            7 años.
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
    </div>
  </section>
