<section id="experiences">
    <div class="experiencias">
      <h3 class="titulo_proyectos">
         Proyectos Realizados
      </h3>
      <div class="row 1">
        <div class="edit_proy">
          <a class="editor pen proy1" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark proy1" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <img src="assets/img/Muestra portfolio.png" class="fotoproy fp1 w-100" alt="portfolio macv" title="portfolio">
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="texto_proy tp1">
             <h4>Portfolio personal</h4> (30-Agosto-2022)<br>
             <p>Este es mi portfolio personal donde muestro un poco sobre quien soy,
              mis estudios, mis habilidades y mis proyectos personales.</p><br>
              <a href="https://mariochoaib.ar">Enlace al proyecto</a>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
      <div class="row 2">
        <div class="edit_proy">
          <a class="editor pen proy2" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark proy2" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <img src="assets/img/TiendaNube.png" class="fotoproy fp2 w-100" alt="portfolio macv" title="portfolio">
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="texto_proy tp2">
            <h4>Tienda Nube</h4> (10-Agosto-2022)<br>
             <p>Este es el sitio web institucional de Tiendanube, una de las mejores plataformas de e-commerce en Latinoamérica. 
              Como podés observar, contiene tanto información sobre lo que ofrece y los beneficios de su servicio, 
              como de la marca, quiénes conforman el equipo y datos de prensa.</p><br>
              <a href="https://tiendanube.com">Enlace al proyecto</a>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
      <div class="row 3">
        <div class="edit_proy">
          <a class="editor pen proy3" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark proy3" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <img src="assets/img/balcon.png" class="fotoproy fp3 w-100" alt="portfolio macv" title="portfolio">
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="texto_proy tp3">
            <h4>Balcón</h4> (15-Julio-2022)<br>
            <p>Balcón se dedica a vender plantas y macetas a través de su propio sitio web. 
            Pero hay mucho más: utilizan su tienda online para proveer de mucha más información a los usuarios y 
            ofrecer una experiencia de compra integral.</p><br>
            <a href="https://balcon.com.ar">Enlace al proyecto</a>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>  
  </section>
