<section id="skills">
    <div class="habilidades">
      <div class="titulo_habilidades">
        <h3>Habilidades <b>Duras</b> y Blandas</h3>
      </div>
      <div class="row 1">
        <div class="col-4">
          <!-- (A) DONUT CHART -->
          <div class="donut donut50">
            <div class="hole">
              <p class="porcentaje">50%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            Gestión de personas
          </div> 

        </div>
        <div class="col-4">
           <!-- (A) DONUT CHART -->
          <div class="donut donut100">
            <div class="hole">
              <p class="porcentaje">100%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            <b>Atención al Cliente</b>
          </div>
        </div>
        <div class="col-4">
           <!-- (A) DONUT CHART -->
          <div class="donut donut75">
            <div class="hole">
              <p class="porcentaje">75%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            Redacción
          </div>
        </div>
      </div>
      <div class="row 2">
        <div class="col-4">
          <!-- (A) DONUT CHART -->
          <div class="donut donut67">
            <div class="hole">
              <p class="porcentaje">67%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            <b>Productividad</b>
          </div>
        </div>
        <div class="col-4">
          <!-- (A) DONUT CHART -->
          <div class="donut donut67">
            <div class="hole">
              <p class="porcentaje">67%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            <b>Comunicación</b>
          </div>
        </div>
        <div class="col-4">
          <!-- (A) DONUT CHART -->
          <div class="donut donut50">
            <div class="hole">
              <p class="porcentaje">50%</p>
            </div>
          </div>
          <!-- (B) LEGEND -->
          <div class="legend">
            Traducción
          </div> 
        </div>
      </div>
    </div>
  </section>
