<section id="experience">
    <div class="experiencia">
      <h3 class="Titulo_experiencia">
         Experiencia  
      </h3>
      <div class="row 1">
        <div class="edit_exp_1">
          <a class="editor pen exp1" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark exp1" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_laburo1">
            <img src="assets/img/urbanaold.jpeg" class="picperfil rounded-circle" alt="icono_laburo1" title="Radio Urbana 93.9">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_laburo txtlab1">
            <h5><b>Producción radial - Redes Sociales (Radio Urbana - Bahía Blanca)</b></h5>
            Armado diario (matutino) de sección noticias de programa en
            la primera mañana de la emisora. Publicación de notas y
            pauta de notas. Trato con gente para notas telefónicas.
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row 2">
        <div class="edit_exp_2">
          <a class="editor pen exp2" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark exp2" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_laburo2">
            <img src="assets/img/banghó_old.jpg" class="picperfil rounded-circle" alt="icono_laburo2" title="PCArtsBanghó">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_laburo txtlab2">
            <h5><b>Vendedor-Promotor Banghó (zona Bahía Blanca)</b></h5>
            Fui reclutado como promotor y vendedor de la empresa para
            Bahía Blanca por demostrar amplio conocimiento sobre los
            productos que vendiamos (computadoras y parte de las
            mismas), demostrando ademas, buen trato y llegada con la
            gente y sobre todo, con los compañeros. 
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row 3">
        <div class="edit_exp_3">
          <a class="editor pen exp3" href="#"><span class="fa-solid fa-square-pen fa-xl"></span></a>
          <a class="editor xmark exp3" href="#"><span class="fa-solid fa-square-xmark fa-xl"></span></a>  
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="icono_laburo3">
            <img src="assets/img/circulo.jpg" class="picperfil rounded-circle" alt="icono_laburo3" title="BahisoftComputación">
          </div>
        </div>
        <div class="col-6">
          <div class="texto_laburo txtlab3">
            <h5><b>Instalación y mantenimiento de software para PC</b></h5>
            Atención a clientes en negocio de informática en Bahía
            Blanca: recomendación , instalación y mantenimiento de
            software en sistemas informáticos.
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>  
  </section>
